extends layout

block content
  h1= title
  p Welcome to #{title}

  if Update
    p
    |  #{Update}
  each x in results
    li User Id:   #{x.userId}
    li Post Id: #{x.id}
    li Title: #{x.title}
    li Body:  #{x.body}
    hr


